/* .Container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
background-color:white;
position: fixed; top: 0;
width: 100vw; 
z-index: 1;

}


.Content{
display: flex;
align-items: center;
margin: 0;
min-height: 100%;
max-width: 1128;

}


.Logo  {
    margin: 4px 14px;
    font-size: 0;
}

.Search {

opacity: 2;
flex-grow: 1;
position: relative;
max-width: 280px;

}


.Search input {
  border: none;
  background-color: #eef3f8;
  border-radius: 3px;
  height: 34px;
  padding: 0 8px 0 40px;
  box-shadow: 0;
  font-size: small;
  font-weight: bolder;
  border-color: #dce6f1;
  color: #000;
    }



.SearchIcon{
position: absolute;
top: 10px;
left: 10px;
font-size: 0;

}

.nav{
display: block;
margin-left: auto;

}

.NavListWrap{
display: flex;
flex-wrap:nowrap;
}

.active span{
display: flex;
flex-direction: column;
border-bottom: 2px solid;



}

.NavList{
display: flex;
align-items: center;

} */



















@media (max-width: 768px) {
    .NavListWrap {
      position: fixed; 
       bottom: 0; 
       left: 0; 
       background-color: white; 
       width: 100%;
    }
  }